<h1>Workorders</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Date Created</th>
			<th>Date Completed</th>
			<th>Assigned To</th>
			<th>Created By</th>
			<th>Priority</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |wo|}}
		<tr>
			<td>wo</td>
		</tr>
		{{/each}}
	</tbody>
</table>
